<main class="main table-responsive">
  <h3 class="categorie mb-3">Estadisticas</h3>
  <!--              Estadisticas              -->
  <div class="estadisticas">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="btn btn-green nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >
          Horarios
        </button>
        <button
          class="nav-link btn btn-green"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
        >
          Planes
        </button>
        <button
          class="nav-link btn btn-green"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-contact"
          type="button"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false"
        >
          Asistencias
        </button>
      </div>
    </nav>
    <div class="tab-content grafic" id="nav-tabContent">
      <div
        class="tab-pane fade show active cont"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
      >
        <app-stathorarios></app-stathorarios>
      </div>
      <div
        class="tab-pane fade cont"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        <app-statplan></app-statplan>
      </div>
      <div
        class="tab-pane fade cont"
        id="nav-contact"
        role="tabpanel"
        aria-labelledby="nav-contact-tab"
      >
        <app-statasistencias></app-statasistencias>
      </div>
    </div>
  </div>
</main>
